<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>📄 About Blood Donation System</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/add">Add Donor</a>
    <a href="/donors">View Donors</a>
    <a href="/about">About</a>
</nav>

<section style="padding:20px; text-align:center;">

    <h2>🩸 Project Details</h2>
    <p>
        This Blood Donation System is a Flask-based web application used to manage donors,
        search blood groups, and maintain donor records efficiently.
    </p>

    <hr>

    <h2>👩‍💻 Developer Details</h2>
    <p>
        Developed By: <b>Akshat Rawat</b>
    </p>

</section>

</body>
</html>